.header{
    display: inline-flex;
    align-items: center;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
}

@media screen and (max-width: 550px) {
    .header img {
    width: 100%;
    
    }
}